<h4>Possible Actions for '{{ name }}'</h4>

{% for (identifier, wfname, description) in workflows %}
    <div id='{{ identifier }}' class='well'>

        <p><strong>{{ wfname }}</strong></p>
        <p>{{ description }}</p>
        <a id='{{ identifier }}runWorkflowBtn' onClick="runWorkflow(this);" class='workflow btn' name='{{ name }}' path='{{ path }}' identifier='{{ identifier }}'>Run</a>
        <a id="{{ identifier }}showResults" style="display:none;" class='workflow btn' href="http://semweb.cs.vu.nl/hackathon/results/{{ path }}/{{ identifier }}/report/index.html" target="_blank">Show results</a>
        <a id="{{ identifier }}showProgress" style="display:none;" class='workflow btn' href="" target="_blank">Show progress</a>
        <a id="{{ identifier }}showProvenance" onClick="showProvenanceButton(this)" style="display:none;" class='workflow btn' href="#" name='{{ name }}' path='{{ path }}' identifier='{{ identifier }}'>Show Provenance</a>
    </div>
    <script type="text/javascript">
    console.log("bla0");
    function {{ identifier }}updateStatus(status) {
    	if (status == 'finished') {
    		$("#{{ identifier }}showResults").show();
    		$("#{{ identifier }}runWorkflowBtn").html('Re-run');
    		$("#{{ identifier }}runWorkflowBtn").removeClass("disabled")
    		$("#{{ identifier }}showProgress").hide();
    		$("#{{ identifier }}showProvenance").show();
    	} else if (status == 'running') {
    		$("#{{ identifier }}runWorkflowBtn").addClass('disabled');
    		$("#{{ identifier }}showProgress").show();
    		$("#{{ identifier }}showProvenance").hide();
    	} else if (status == 'no workflow') {
    		$("#{{ identifier }}showResults").hide();
    		$("#{{ identifier }}runWorkflowBtn").html("Run");
    		$("#{{ identifier }}runWorkflowBtn").removeClass("disabled")
    		$("#{{ identifier }}showProgress").hide();
    		$("#{{ identifier }}showProvenance").show();
    	}
    }

    function {{ identifier }}callUpdateStatus() {
    	$.get('http://semweb.cs.vu.nl/hackathon/backend/workflow/status?path=' + encodeURIComponent("{{ path }}") + '&name=' + encodeURIComponent("{{ name }}") + '&workflowId=' + encodeURIComponent("{{ identifier }}"), function( jsonResult ) {
    		{{ identifier }}updateStatus(jsonResult['status']);
    		});
    }
    $(function() {
    	{{ identifier }}callUpdateStatus();
    });
    </script>
{% endfor %}

<script>
function basename(path) {
    return path.replace(/\\/g,'/').replace( /.*\//, '' );
}

function runWorkflow(runWorkflowButton) {
	var element = $(runWorkflowButton);
	var identifier = element.attr("identifier");
	var path = element.attr("path");
	var name = element.attr("name");
	$.get('{{ url_for("execWorkflow") }}', {path : path, workflowId: identifier, name: name});
	
	element.addClass('disabled');
    $("#" + identifier + "showResults").show();
    $("#" + identifier + "showProvenance").show();
}

function showProvenanceButton(provenanceButton) {
	var element = $(provenanceButton);
	var identifier = element.attr("identifier");
	var path = element.attr("path");
	var name = element.attr("name");
	$.get('{{ url_for("pushProvenanceResult") }}', {path : path, workflowId: identifier, name: name}, function( jsonResult ) {
		window.open("http://semweb.cs.vu.nl/provoviz?endpoint_uri=" + encodeURIComponent("http://semweb.cs.vu.nl:8080/openrdf-sesame/repositories/ct"), "_blank");
		}

	);
}

</script>
