<h4>Possible Actions for '{{ name }}'</h4>

{% for (identifier, wfname, description) in workflows %}
    <div class='well'>
        <p><strong>{{ wfname }}</strong></p>
        <p>{{ description }}</p>
        <a id='runWorkflowBtn' class='workflow btn' name='{{ name }}' path='{{ path }}' identifier='{{ identifier }}'>Run</a>
        <a id="showResults" style="display:none;" class='workflow btn' href="" target="_blank">Show results</a>
        
    </div>
{% endfor %}

<script>
function basename(path) {
    return path.replace(/\\/g,'/').replace( /.*\//, '' );
}

$(function() {
	
	
    $('#runWorkflowBtn').on('click', function(){
    	var identifier = $(this).attr("identifier");
	var path = $(this).attr("path");
	var name = $(this).attr("name");
    	$.get('{{ url_for("execWorkflow") }}', {path : path, workflowId: identifier, name: name});
    	
    	$(this).addClass('disabled');
    	//first fix href link of button to show results
    	$("#showResults").attr("href","http://semweb.cs.vu.nl/hackathon/workflowResults/" + workflowId + basename('{{ path }}') + "/report/index.html");
        $("#showResults").show();
    });
});
</script>
