
<ul>
    {% for f in files %}
    <li><a class='file' type='{{ f.type }}' name='{{ f.name }}' path='{{ f.path }}' mimetype='{{ f.mimetype }}'>{{ f.name }}</a> ({{ f.mimetype }})</li>
    {% endfor %}
</ul>

<script>
    $(function (){
        $('.file').on('click', function(){
	    console.log($(this));
	    
            var mimetype = $(this).attr('mimetype');
            var name = $(this).attr('name');
            var path = $(this).attr('path');
            var type = $(this).attr('type');
            
	    console.log(type);
	    
            if (type=='dir') {
	        
                $.get('{{ url_for("browse") }}', {name: name, path: path}, function(data){
                    $('#browse').html(data);
                });                
            } else {
                
                $.get('{{ url_for("actions")}}', {name: name, path: path, type: type, mimetype: mimetype}, function(data){
                    $('#actions').html(data); 
                });
                
            }
        });
    });
</script>
