<!DOCTYPE html>
<html>
<head>
<title>Data2Semantics Golden Demo 2.0</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="http://code.jquery.com/jquery-latest.js"></script>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>



</head>


</head>
<body>
	<div class="navbar-wrapper">
		<div class="container">

			<div class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".navbar-collapse">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Golden Demo</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="http://github.com/Data2Semantics/Hackathon2">Github</a></li>
							<li><a href="http://www.data2semantics.org/">About
									Data2Semantics</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	 <div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><a href="index.html">Repository Selection</a></li>
					<li class="active" id="reposbreadcrumb"><a>Dataset Selection</a></li>
					<li id="filebreadcrumb"><a>File Selection</a></li>
	
				</ol>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-6" id='github'>
			      {% block repositories %}
			      {% endblock %}
			      

			      <div id="browse">
				    
			      </div>
			</div>
			<div class="col-md-6">
			      <div id="actions">
				    
			      </div>
			</div>
		</div>
	</div>

<script>
    $(function () {
        $('#filebreadcrumb').hide();
        
        $('.repository').on('click',function(e) {
            var clone_url = $(this).attr('clone_url');
            var name = $(this).attr('name');
            
	    $('#reposbreadcrumb').on('click', function(e) {
		  $('#repositories').show();
		  $('#reposbreadcrumb').toggleClass('active');
		  $('#filebreadcrumb').toggleClass('active');
		  $('#filebreadcrumb').hide();
		  $('#browse').hide();
	    });
	    
            $.get('{{ url_for("github_clone") }}', { clone_url: clone_url, name: name}, function(data){
                var name = data.name;
                var path = data.name;
		
		$('#repositories').hide();
		
                $('#reposbreadcrumb').toggleClass('active');
                $('#filebreadcrumb').toggleClass('active');
                $('#filebreadcrumb').show();
                
		browse('#browse','#actions', path, name);
		
		console.log("Showing #browse");
		$('#browse').show();
		
		console.log("Now showed #browse for the first time");
                
            });
        });
    });
    
    
    function browse(browsepane, actionpane, path, name) {
      // Retrieve JSON list of files
      
      $.get('{{ url_for("browse") }}', {path: path, name: name}, function(data) {
	    var parent = data.parent;
	    var files = data.files;
	    
	    // Clear the DIV containing the file browser.
	    $(browsepane).empty();
	    
	    var heading = $('<h4></h4>');
	    
	    if (path.length < 50) {
		  heading.append(path);
	    } else {
		  heading.append(path.substring(0,10) + '...' + path.substring(path.length-40));
	    }
	    
	    
	    $(browsepane).append(heading);
	    
	    
	    var list = $('<div></div>');
	    list.toggleClass('list-group');
	    
	    if (parent != '') {
		  var up = $('<a class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span><span style="padding-left: 1em;">..</span></a>');
		  up.on("click", function(e){
			browse(browsepane, actionpane, parent, name);
		  });
	    
		  $(list).append(up);
	    }
	    
	    
	    
	    $.each(files, function(index, value) {
	        console.log(value);
		
		var a = $('<a></a>');
		
		a.toggleClass('list-group-item');
		
		
		
		// a.hover(function(e){ a.toggleClass('active'); }, function(e){ a.toggleClass('active'); });
		
		if (value.type == 'dir') {
		  var icon = $('<span class="glyphicon glyphicon-folder-open"></span>');
		  a.append(icon);
		  a.append('<span style="padding-left: 1em;">' + value.name + '</span>');
	          a.on('click', function(e){
			browse(browsepane, actionpane, value.path, name);
		  });
		} else {
		  var icon = $('<span class="glyphicon glyphicon-file"></span>');
		  a.append(icon);
		  a.append('<span style="padding-left: 1em;">' + value.name + '</span>');
		  
		  var badge = $('<span></span>');
		  badge.append(" ("+value.mimetype+")");
		  badge.toggleClass('badge');
		  a.append(badge);
		  
		  a.on('click', function(e){
			$.get('{{ url_for("actions") }}', {name: value.name, path: value.path, type: value.type, mimetype: value.mimetype}, function(data){
			      $(actionpane).html(data); 
			});
		  });
		}
		
		
		list.append(a);
	    });
	    
	    
	    $(browsepane).append(list);
      });
      
      
    }
    
</script>
</body>
</html>

